<!DOCTYPE html>
<html>
    <head>
        <title>Admin Home</title>
    </head>
    <body>
        <head>
            <br>
            <br>
            <br>
            <br>
            <center>
                <form action="" method="POST">
                    <fieldset style="width:200px">
                        <table>
                            <tr>
                                <td><center><input type="submit" name="addEmp" value="Add Employee"></center></td>
                            </tr>
                            <tr>
                                <td><center><input type="submit" name="allEmp" value="All Employee"></center></td>
                            </tr>
                        </table>
                    </fieldset>
                </form>
            </center>
        </head>
    </body>
</html>